body {
  background-color: rgb(231, 236, 236);
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  font-weight: 400
  ;
}

.container {
  width: 400px;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
  padding: 60px 40px;
  border-radius: 20px;
}

.line {
  border-bottom: 1px solid rgb(134, 133, 133);
}

.shoppingList {
  margin-top: 40px;
}

.shoppingList_item {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn, input  {
  padding: 10px 20px;
  flex: 1;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .125);
}

.btn:hover {
  cursor: pointer;
}

input:focus {
  border: 1px solid #1670BE;
  box-shadow: 0 0 3px #1670BE;
  outline-offset: 0px;
  outline: none;
}

ul {
  list-style-type: none;
  margin-left: 0;
  border-radius: 5px;
  flex: 1;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .125);
}

li {
  background-color: #dde8f1;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 5px 10px;
}

.done {
  text-decoration: line-through;
  background-color: #daf0bf;
}

.check_mark {
  margin-right: 8px;
}
